  <%= image_tag("profile_pic.jpg", alt: "profile picture", id: "profile_pic") %>
<%= render "mybio" %>
<%= render "resume" %>
<%= render "biology" %>
<%= render "tech" %>

<%= render "welcome" %>

<%= render "social" %>
</div>

