  <%= image_tag("profile_pic.jpg", alt: "profile picture", id: "profile_pic") %>
<%= render "mybio" %>
<%= render "resume" %>
<%= render "biology" %>
<%= render "tech" %>
<div class="welcome">
  <span class="welcome0"></span>
  <span class="welcome1"></span>
  <span class="welcome2"></span>
  <span class="welcome3"></span>
  <span class="welcome4"></span>
  <span class="welcome5"></span>
  <span class="welcome6"></span>
  <span class="welcome7"></span>
</div>
