  <%= image_tag("profile_pic.jpg", alt: "profile picture", id: "profile_pic") %>
<%= render "mybio" %>
<%= render "resume" %>
<%= render "biology" %>
<%= render "tech" %>
<div class="welcome">
  <span class="welcome0"></span>
  <span class="welcome1"></span>
  <span class="welcome2"></span>
  <span class="welcome3"></span>
  <span class="welcome4"></span>
  <span class="welcome5"></span>
  <span class="welcome6"></span>
  <span class="welcome7"></span>
<div class="0text"> <span class="redlets">W</span>oah is me! I can't navigate a <span class="redlets">w</span>ebsite <span class="redlets">w</span>ithout a navbar. Have no fear, just click!</div>
</div>

