  <%= image_tag("profile_pic.jpg", alt: "profile picture", id: "profile_pic") %>
<%= render "mybio" %>
<%= render "resume" %>
<%= render "biology" %>
<%= render "tech" %>

<div class="welcome">
  <span class="welcome0"></span>
  <span class="welcome1"></span>
  <span class="welcome2"></span>
  <span class="welcome3"></span>
  <span class="welcome4"></span>
  <span class="welcome5"></span>
  <span class="welcome6"></span>
  <span class="welcome7"></span>
  <div class="0text"> <span class="redlets">W</span>oah is me! I can't navigate a <span class="redlets">w</span>ebsite <span class="redlets">w</span>ithout a navbar. Have no fear, just click!</div>

  <div class="1text"><span class="redlets">E</span>ndl<span class="redlets">e</span>ss possibiliti<span class="redlets">e</span>s, programming op<span class="redlets">e</span>ns many doors, with pati<span class="redlets">e</span>nc<span class="redlets">e </span>one can b<span class="redlets">e</span>com<span class="redlets">e</span> a mod<span class="redlets">e</span>rn day wizard.</div>

  <div class="2text"><span class="redlets">L</span>et's <span class="redlets">l</span>ive in a wor<span class="redlets">l</span>d of change. Why I studied Bio<span class="redlets">l</span>ogy at UC Berke<span class="redlets">l</span>ey.</div>

  <div class="3text"><span class="redlets">C</span>he<span class="redlets">c</span>k out my re<span class="redlets">c</span>ent proje<span class="redlets">c</span>ts and <span class="redlets">c</span>urrent resume. </div>

  <div class="4text"><span class="redlets">O</span>bligat<span class="redlets">o</span>ry c<span class="redlets">o</span>ntact inf<span class="redlets">o</span>rmati<span class="redlets">o</span>n. Click f<span class="redlets">o</span>r s<span class="redlets">o</span>cial netw<span class="redlets">o</span>rks and gaming pages.</div>

  <div class="5text"><span class="redlets">M</span>eow <span class="redlets">M</span>eow <span class="redlets">M</span>eow. I love cats, here is a little HT<span class="redlets">M</span>L5 kitten purring to soothe the soul.</div>
  <div id="meow">
    <audio class="meow">
    <source src="http://www.averageoutdoorsman.com/mp3/house_cats/kitten2.mp3" type="audio/mpeg">
    </audio>
    <audio class="meow">
    <source src="http://www.kessels.com/catsounds/purr1.wav" type="audio/mpeg">
    </audio>
  </div>

  <div class="6text"><span class="redlets">E</span>ast<span class="redlets">e</span>r <span class="redlets">e</span>ggs! Th<span class="redlets">e</span>r<span class="redlets">e</span> ar<span class="redlets">e</span> a f<span class="redlets">e</span>w hiddin within my sit<span class="redlets">e</span>. Find th<span class="redlets">e</span>m and l<span class="redlets">e</span>arn a littl<span class="redlets">e</span> mor<span class="redlets">e</span> about m<span class="redlets">e</span>.</div>

<%= render "social" %>
</div>

