  <%= image_tag("profile_pic.jpg", alt: "profile picture", id: "profile_pic") %>
<%= render "mybio" %>
<%= render "resume" %>
<%= render "biology" %>
<%= render "tech" %>
<div class="welcome">
  <span class="welcome0"></span>
  <span class="welcome1"></span>
  <span class="welcome2"></span>
  <span class="welcome3"></span>
  <span class="welcome4"></span>
  <span class="welcome5"></span>
  <span class="welcome6"></span>
  <span class="welcome7"></span>
  <div class="0text"> <span class="redlets">W</span>oah is me! I can't navigate a <span class="redlets">w</span>ebsite <span class="redlets">w</span>ithout a navbar. Have no fear, just click!</div>

  <div class="1text"><span class="redlets">E</span>ndl<span class="redlets">e</span>ss possibiliti<span class="redlets">e</span>s, programming op<span class="redlets">e</span>ns many doors, with pati<span class="redlets">e</span>nc<span class="redlets">e </span>one can b<span class="redlets">e</span>com<span class="redlets">e</span> a mod<span class="redlets">e</span>rn day wizard.</div>
</div>

